.trend{
  height:100%;
  width:100%;
  background:#FFFFE0;
  padding: 1% 1%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin:5%;
}
.trend:hover{
background:s#FAFAD2;
}
.trendicon{
  text-align:left;
  width:50%;
  height:10%;
 border:none;
 background:none;
}
.trendicon1{
 height:10%;
 width:15%;
}
header{
 background:cyan;
 margin:0;
}
body{
 margin:0;
}
#logo{
 width:80px;
 height:80px;
 border-radius:50%;
 margin:0;
}
#logoname{
 display:inline-block;
 font-size:40px;
 margin:0;
 font-family:"Stencil Std",fantasy,fantasy;
}
#fig{
 margin:0;
 padding:0;
 display:inline-block;
}

nav{
 float:right;
 margin:10px;
}
.link{
 display:inline-block;
 width:100px;
 height:20px;
 padding:5px;
 background:navy;
 text-decoration:none;
 border-radius:35%;
 text-align:center;
 color:white;
}
.link:hover{
 background:green;
}
#active{
 background:maroon;
}
#bodypic{
 width:100%;
 height:auto;
 position:absolute;
 top:89px;
 z-index:-1;
 opacity: 0.7;


}
h1{
 margin:0;
 text-align:center;
 font-size:100px;
}
.textbox{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display:block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

#subbutton{
  width: 100%;
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#subbutton:hover {
  background-color: lightgreen;
  color: black;
}

#login{
  position:absolute;
  top:30%;
  left:30%;
  width: 40%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 20px;
}
.picborder{
 display:inline-block;
 padding:20px;
 border:solid brown 3px;
 background:pink;
}
.pic{
 height:250px;
 width:200px;
}
figcaption{
 text-align:center;
}

#categ{
display:inline-block;
position:relative;
left:15%;
}
.list{
width:100%;
display:block;
text-decoration:none;
background:magenta;
padding:20px;
font-size:30px;
color:white;
margin:25px;
}
.scrollbtn{
z-index:1;
position:relative;
left:15%;
background:black;
color:white;
font-size:50px;
padding:20px;
}
.scrollbtn:hover{
background:grey;
}
#article
{
position:absolute;
top:20%;
left:20%;
text-align:center;
background:white;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
font-size:20px;
width:70%;
padding:2%;
border-radius:5%;
}
#afterlogin{
color:blue;
text-align:center;
}
.dropbtn {
  display: inline-block;
  background-color: #4682B4;
  border-radius:5%;
  color: white;
  padding: 7px;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content input {
  background-color: #f9f9f9;
  border:none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width:100%;
}

.dropdown-content input:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #00008B;
}
#rate{
  background-color: #f9f9f9;
  border:none;
  color: black;
  padding: 12px 16px;
  position:absolute;
  top:30%;
  left:5%;
}
#rate:hover{
background:cyan;
}
#articleimg{
float:left;
height:40%;
width:50%;
}

